/* Fuente y reseteo */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 50px;
}

/* Sección izquierda */
.left {
    flex: 1;
}

.left h1 {
    font-size: 48px;
    margin: 0;
}

.subtitulo {
    font-size: 18px;
    color: #333;
    margin-bottom: 50px;
}

.left h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.left a {
    display: block;
    font-size: 18px;
    margin: 5px 0;
    color: black;
    text-decoration: underline;
}

/* Sección derecha */
.right {
    flex: 1;
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

.right h3 {
    font-size: 24px;
    font-weight: bold;
    color: #002147;
    line-height: 1.2;
}
