<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChambApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Index.css') }}">
</head>
<body>
    <div class="container">
        <!-- Columna izquierda -->
        <div class="left">
            <h1 class="title">ChambApp</h1>
            <p class="subtitle">Tareas rápidas, pago seguro</p>

            <h2 class="login-title">Bienvenido</h2>
            <a href="{{ url_for('login') }}" class="link">Iniciar Sesión</a>
            <a href="{{ url_for('register') }}" class="link">Crear Cuenta</a>
        </div>

        <!-- Columna derecha -->
        <div class="right">
            <img src="{{ url_for('static', filename='chamba.png') }}" alt="Service App Logo" class="logo">
            <h2 class="service-title">SERVICE <span>APP</span></h2>
        </div>
    </div>
</body>
</html>

