<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChambApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio_sesion.css') }}">
</head>
<body>
    <div class="container">
        <!-- Sección izquierda -->
        <div class="left">
            <h1>ChambApp</h1>
            <p class="subtitulo">Tareas rápidas, pago seguro</p>

            <h2>Inicio de Sesión</h2>
            <!-- Formulario de login -->
            <form method="POST" action="{{ url_for('inicio') }}">
                <input type="email" name="correo" placeholder="Correo electrónico" required>
                <input type="password" name="contrasena" placeholder="Contraseña" required>
                <button type="submit">Iniciar Sesión</button>
            </form>

            <!-- Link al registro -->
            <p>¿No tienes cuenta? 
                <a href="{{ url_for('registro') }}">Crear Cuenta</a>
            </p>
        </div>

        <!-- Sección derecha -->
        <div class="right">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Service App Logo" class="logo">
            <h3>SERVICE<br>APP</h3>
        </div>
    </div>
</body>
</html>

