<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trabajador</title>
    <link rel="stylesheet" href="/css/interfaz_trabajador.css" />
</head>
<body>
    <header>
        <div class="logo">ChambApp</div>
        <nav>
            <a href="/html/interfaz_cliente.html">Cliente</a>
            <a href="#" class="active">Trabajador</a>
        </nav>
    </header>
    <div class="search-box">
      <form method="get" id="search-form">
         <fieldset>
            <input type="text" id="search-input" placeholder="Buscar tareas rápidas"  />
            <input class="search-button" type="submit" value="Buscar" />
            <i class="search-icon"></i>
         </fieldset>
      </form>
   </div>
   <h3>Barra de chambas:</h3>
   <section>
        <article>
            <input type="text" name="nombre_tarea" placeholder="Tarea:">
            <input type="text" name="descripcion" placeholder="Descripción:">
            <input type="text" name="dinero" placeholder="Ofrezco:">
            <input type="text" name="ciudad/zona" placeholder="Ciudad/zona:">
            <button>Aceptar tarea</button>
        </article>
        <article>
            <input type="text" name="nombre_tarea" placeholder="Tarea:">
            <input type="text" name="descripcion" placeholder="Descripción:">
            <input type="text" name="dinero" placeholder="Ofrezco:">
            <input type="text" name="ciudad/zona" placeholder="Ciudad/zona:">
            <button>Aceptar tarea</button>
        </article>
        <article>
            <input type="text" name="nombre_tarea" placeholder="Tarea:">
            <input type="text" name="descripcion" placeholder="Descripción:">
            <input type="text" name="dinero" placeholder="Ofrezco:">
            <input type="text" name="ciudad/zona" placeholder="Ciudad/zona:">
            <button>Aceptar tarea</button>
        </article>
        <article>
            <input type="text" name="nombre_tarea" placeholder="Tarea:">
            <input type="text" name="descripcion" placeholder="Descripción:">
            <input type="text" name="dinero" placeholder="Ofrezco:">
            <input type="text" name="ciudad/zona" placeholder="Ciudad/zona:">
            <button>Aceptar tarea</button>
        </article>
        <article>
            <input type="text" name="nombre_tarea" placeholder="Tarea:">
            <input type="text" name="descripcion" placeholder="Descripción:">
            <input type="text" name="dinero" placeholder="Ofrezco:">
            <input type="text" name="ciudad/zona" placeholder="Ciudad/zona:">
            <button>Aceptar tarea</button>
        </article>
   </section>
</body>
</html>